@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

.height-title{
  min-height: 92dvh;
}

.text-large{
  font-size: 2rem !important;
  color: white; /* Add this line */
}

.bg-button{
  background: linear-gradient(180deg, rgba(113, 55, 112, 1) 0%, rgba(70, 48, 112, 1) 100%);
}

.bg-button:hover{
  background: rgba(113, 55, 112, 1);
}

.bg-temp{
  background: linear-gradient(180deg, rgba(113, 55, 112, 1) 0%, rgb(157, 79, 37) 100%);
  border: 1px solid #FFF;
}

.bg-temp:hover{
  background: rgba(113, 55, 112, 1);
}

.bg-curr{
  background: linear-gradient(180deg, rgba(113, 55, 112, 1) 0%, rgb(0, 87, 87) 100%);
  border: 1px solid #FFF;
}

.bg-curr:hover{
  background: rgba(113, 55, 112, 1);
}
