@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

.select-style {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    background: #f2f2f2;
    border: none;
    padding: 5px;
    font-size: 16px;
    color: #000;
}

.select-style:focus {
    outline: none;
}

.bg-bar {
    box-sizing: border-box;

    background: rgba(255, 87, 51, 0.16);
    /* Glass and Shadow */
    box-shadow: 0px 0px 4px 1px rgba(97, 0, 255, 0.25), 0px 0px 10px 2px rgba(0, 0, 0, 0.25), inset 0px 0px 2px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    font-family: 'Poppins', sans-serif;
    /* Note: backdrop-filter has minimal browser support */
    border: 1px solid #FFFFFF;
}

.very-round {
    border-radius: 50px;
}

.edge-round {
    border-radius: 15px;
}

.bg-conatiner {
    background: linear-gradient(142deg, rgb(113, 55, 77) 0%, rgb(76, 48, 112) 100%);
    border: 1px solid #FFFFFF;
}

.bg-output {
    background: linear-gradient(142deg, rgb(113, 55, 77) 100%, rgb(76, 48, 112) 0%);
    border: 1px solid #FFFFFF;
}